<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="search">
        <h3> System ID: <b><%= information.systemid %></b></h3>
        <h3> Department ID: <b><%= information.department %></b></h3>
        <h3>Status: <b><%= information.status %></b></h3>
    </div>
</body>
</html>
