<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Load New Entry</title>
    <link rel="stylesheet" href="stylesi.css">
</head>
<body>
    <h3>New entry ....</h3>
    <form method="post" action="/blw">
        <input placeholder="Write your systemid..." name="systemid" required>
        <br>
        <br>
        <input placeholder="Write your department" name="department" required>
        <br>
        <br>
        <p>Status: </p>
        <input type="text" placeholder="Approved/Pending/Rejected" name="status" required>
        <br>
        <br>
        <button>Create</button>
    </form>
</body>
</html>
