<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <h1>Search by id ...</h1>

    <form method="post" action="/blw/search">
        <input placeholder="write system id" type="text" name="systemid">
        <br>
        <br>
        <button>Submit
        </button>
    </form>
  <br>
  <br>
  
</body>
</html>